{%extends 'Content/components/base.html' %}

{%block title%}news{%endblock%}


{%block content%}
<div class=" ml-20">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="search" value="ค้นหา" class="border-2 border-black rounded-md">
</div>
<div class="grid grid-cols-4">
    {% for i in news %}
        <div style="margin-left:25%" class="bg-zinc-700 w-80 h-30 rounded-md mt-20 ml-20" >
            <div class="pt-6 " >
                <img src="{{ i.image.url }}" alt="image" class="w-24 h-24  rounded-md" >
               
            </div>
            <div>
                <label for="title" class="text-xl text-bold">หัวข้อข่าว</label>
                <span class="text-md" id="title">{{i.title}}</span>
            </div>

            <div>
                <label for="description">รายอะเลียด</label>
                <span class="text-md" id="description">{{i.desciption}}</span>
            </div>

            <div>
                <label for="news">สร้างโดย</label>
                <span class="text-md" id="news">{{i.writer}}</span>
            </div>

            <div>
                <p class="bg-emerald-300 w-300 h-30"></p>
            </div>

            <div>
            </div>
            <footer class="bg-zinc-500 h-10 rounded-b-lg">
                <div>

                </div>

                <div class="border-solid border-slate-600 text-center mx-auto my-auto">
                    <a href="{{ i.get_absolute_url }}">อ่าน</a>
                </div>
            </footer>
        
        </div>
    {% endfor %}
</div>
{%endblock%}