{%extends 'Content/components/base.html' %}

{%block title%}news{%endblock%}


{%block content%}
<div class="grid grid-cols-4">
    {% for i in news %}
        <div style="margin-left:25%" class="bg-emerald-300 w-60 h-30 rounded-md" >
     
            <div>
                <label for="title" class="text-xl text-bold">Title</label>
                <span class="text-md" id="title">{{i.title}}</span>
            </div>

            <div>
                <label for="description">รายอะเลียด</label>
                <span class="text-md" id="description">{{i.desciption}}</span>
            </div>

            <div>
                <p class="bg-emerald-300 w-300 h-30"></p>
            </div>

            <div>
            </div>
        
        </div>
    {% endfor %}
</div>
{%endblock%}