{%extends 'Content/components/base.html' %}

{%block title%}editProfile{%endblock%}

{%block content%}
<div>
{%if user.is_authenticated %}



<div class="bg-zinc-700 w-3/12 mx-auto my-auto rounded-md my-10">
    <div class="bg-zinc-100 text-xl rounded-t-lg">
        <span class="text-2xl">แก้ไขโปรไฟล์</span>
        </div>
    <form method="POST" style="margin-left:25%" action=" " class="" enctype="multipart/form-data">
    <div class="text-xl ">
        {%csrf_token%}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <div class="mt-2">
                <input type="submit">
        </div>
    </div>
    </form>
</div>
    
{%else%}
<div class="text-center text-2xl">
    <span>กรุณาเข้าสู่ระบบ</span>
</div>
{%endif%}
</div>

{%endblock%}