 <!DOCTYPE html>
 <html lang="en">
 <head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"></link>
    <style>
      .chat-messages{
         height: 650px;
         overflow-y: auto;
      }
      .chat-messages::-webkit-scrollbar{
         display: none;
      } 
    </style>
    <title>{%block title%} {%endblock%}</title>
 </head>
 <body>
    {%include 'Content/components/header.html'%}
    {%include 'Content/components/sidebar.html'%}
    
   
      <div class="p-4 sm:ml-64">
         <div class="p-4   rounded-lg dark:border-gray-700 mt-14">
               {%if messages%}
               {%for m in messages%}
               <div class="flex items-center bg-emerald-500 text-white text-sm font-bold px-4 py-3" role="alert">
                  <p class="font-bold">{{m}} </p>    
               </div>
               
               {%endfor%}
               
               {%endif%}
           
           
            {%block content%}
   
      
         
            {%endblock%}
            
            {% block scripts %}{% endblock %}
         </div>
        </div>
 </body>
 </html>