<header class="bg-zinc-800 h-24">

    <div><a href="{%url 'party' %}"><h1 class="text-center text-2xl py-4 text-gray-50">Haankan</h1></a></div>
    <div>
    

        {%if user.is_authenticated %}
            {%if user.is_superuser %}
            <div style="margin-left:100px" class="text-slate-200">
           
            <label for="user">ผู้ใช้:</label>
            <span id="user">{{user.username}} (admin)</span>
            <a href="{{ profile.get_absolute_url}}">ss</a>
             <img src="{{user.profile.profile_pic.url}}" alt="" class="rounded-full h-10" id="user" >
            </div>
            {%else%}
            <div style="margin-left:100px" class="text-slate-200">
                <label for="usern">ผู้ใช้:</label>
                
                <span id="user">{{user.username}}</span>
                <img src="{{user.profile.profile_pic.url}}" alt="" class="rounded-full" id="user">
            </div>
            {%endif%}
        {%else%}
            
        {%endif%}
    
    </div>
</header>