{%load static%}
<header class="bg-zinc-800 h-32 ">

    <div><a href="{%url 'party' %}"><h1 class="text-center text-2xl py-4 text-gray-50">Haankan</h1></a></div>
    <div>
    

        {%if user.is_authenticated %}
            {%if user.is_superuser %}
            <div style="margin-left:100px" class="text-slate-200 ">
            {% if user.profile.profile_pic %}
            <img src="{{user.profile.profile_pic.url}}" alt="" class="rounded-full  w-12 h-12 inline-block " id="user" >
            {% else %}
            <img src="{% static 'Profile/images/defualtPIC.jpg' %}" alt="" class="rounded-full  w-12 h-12 inline-block " id="user" >
            {%endif%}
            <label for="user">ผู้ใช้:</label>
            <span id="user">{{user.username}} (admin)</span>
            
           
            </div>
            {%else%}
            <div style="margin-left:100px" class="text-slate-200">
            {% if user.profile.profile_pic %}
            <img src="{{user.profile.profile_pic.url}}" alt="" class="rounded-full  w-12 h-12 inline-block " id="user" >
            {% else %}
            <img src="{% static 'Profile/images/defualtPIC.jpg' %}" alt="" class="rounded-full  w-12 h-12 inline-block " id="user" >
            {%endif%}
                <label for="usern">ผู้ใช้:</label>
                <span id="user">{{user.username}}</span>
                
            </div>
            {%endif%}
        {%else%}
            
        {%endif%}
    
    </div>
</header>