<div class="w3-sidebar w3-light-grey w3-bar-block " style="width:15%" >
    
    {%if user.is_authenticated %}
        {%if user.is_superuser %}
            <h3 class="w3-bar-item">Menu</h3>
            <div>
                <a href="{%url 'party'%}" class="w3-bar-item w3-button h-20 text-lg ">ดูปาร์ตี้ทั้งหมด</a>
            </div>
            
            <a href="#" class="w3-bar-item w3-button h-20 text-lg">ปาร์ตี้ของฉัน</a>
            <a href="{%url 'createparty'%}" class="w3-bar-item w3-button h-20 text-lg">สร้างปาร์ตี้ใหม่</a>
            <a href="{%url 'approveparty'%}" class="w3-bar-item w3-button h-20 text-lg">ภาพรวมปาร์ตี้</a>
            <a href="{%url 'news'%}" class="w3-bar-item w3-button h-20 text-lg">ข่าวประชาสัมพันธ์</a>
            <a href="{%url 'writenews'%}" class="w3-bar-item w3-button h-20 text-lg">เขียนข่าวประชาสัมพันธ์</a>
            <a href="{%url 'addapps'%}" class="w3-bar-item w3-button h-20 text-lg">เพิ่มแอป</a>
            <a href="#" class="w3-bar-item w3-button h-20 text-lg">ดูสมาชิกทั้งหมด</a>
            <a href="#" class="w3-bar-item w3-button h-20 text-lg">เกี่ยวกับ</a>
            <a href="{%url 'logout'%}" class="w3-bar-item w3-button h-20 text-lg">ออกจากระบบ</a>
        {%else%}
            <h3 class="w3-bar-item">Menu</h3>
            <div>
                <a href="{%url 'party'%}" class="w3-bar-item w3-button h-20 text-lg ">ดูปาร์ตี้ทั้งหมด</a>
            </div>
            
            <a href="#" class="w3-bar-item w3-button h-20 text-lg">ปาร์ตี้ของฉัน</a>
            <a href="{%url 'createparty'%}" class="w3-bar-item w3-button h-20 text-lg">สร้างปาร์ตี้ใหม่</a>
            <a href="{%url 'news'%}" class="w3-bar-item w3-button h-20 text-lg">ข่าวประชาสัมพันธ์</a>
            <a href="#" class="w3-bar-item w3-button h-20 text-lg">เกี่ยวกับ</a>
            <a href="{%url 'logout'%}" class="w3-bar-item w3-button h-20 text-lg">ออกจากระบบ</a>
        {%endif%}

    {%else%}
    <h3 class="w3-bar-item">Menu</h3>
    <a href="{%url 'party'%}" class="w3-bar-item w3-button h-20 text-lg">ดูปาร์ตี้ทั้งหมด</a>
    <a href="{%url 'news'%}" class="w3-bar-item w3-button h-20 text-lg">ข่าวประชาสัมพันธ์</a>
    <a href="#" class="w3-bar-item w3-button h-20 text-lg">เกี่ยวกับ</a>
    <a href="{%url 'register'%}" class="w3-bar-item w3-button h-20 text-lg">สมัครสมาชิก</a>
    <a href="{%url 'login'%}" class="w3-bar-item w3-button h-20 text-lg">เข้าสู่ระบบ</a>
    {%endif%}
    
</div>