{%extends 'Content/components/base.html' %}

{%block title%}createParty{%endblock%}

{%block content%}
<div>
{%if user.is_authenticated %}
<div class="bg-zinc-700 w-3/12 mx-auto my-auto rounded-md my-10">
    <div class="bg-zinc-100 text-xl rounded-t-lg">
        <span class="text-2xl">เริ่มสร้างตี้กันเลย</span>
        </div>
    <form method="POST" style="margin-left:25%" action=" " class="">
        <div class="text-xl ">
        {%csrf_token%}

        {{form.as_p}}

            
            <div class="mt-2">
                <button type="submit">Submit</button>
            </div>
    
    

        </div>
    </form>
</div>
{%else%}
    <div class="text-center text-2xl">
        <span>กรุณาเข้าสู่ะระบบ!</span>
    </div>
    
{%endif%}
</div>

{%endblock%}