{%extends 'Content/components/base.html' %}

{%block title%}createParty{%endblock%}

{%block content%}
<div>
{%if user.is_authenticated %}
<section class="bg-white">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
     
      <div class="w-full  rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 bg-zinc-300 ">
          <div href="#" class="text-center mt-10  text-2xl font-semibold text-zinc-900 ">
          
              สร้างปาร์ตี้
          </div>
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              
            <form class="w-full max-w-lg" method="POST" enctype="multipart/form-data">
              {%csrf_token%}
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                    {{form.title.label}}
                    
                  </label>
                  {{form.title}}
                  {{form.title.errors}}
                </div>
                <div class="w-full md:w-1/2 px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{form.quantity.label}}
                  </label>
                  {{form.quantity}}
                  {{form.quantity.errors}}
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{form.apps.label}}
                  </label>
                  {{form.apps}}
                  {{form.apps.errors}}
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                    {{form.bank.label}}
                  </label>
                  {{form.bank}}
                  {{form.bank.errors}}
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                    {{form.qrcodeImage.label}}
                  </label>
                  {{form.qrcodeImage}}
                  {{form.qrcodeImage.errors}}
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                    {{form.bankaccount.label}}
                    
                  </label>
                  {{form.bankaccount}}
                  {{form.bankaccount.errors}}
                </div>
                
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                    {{form.price.label}}
                    
                  </label>
                  {{form.price}}
                  {{form.price.errors}}
                </div>
                <div class="w-full md:w-1/2 px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{form.priceaverage.label}}
                  </label>
                  {{form.priceaverage}}
                  {{form.priceaverage.errors}}
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                    {{form.paid_day.label}}
                  </label>
                    {{form.paid_day}}
                    {{form.paid_day.errors}}
                </div>
                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{form.use_priceavg.label}}
                  </label>
                    {{form.use_priceavg}}
                    {{form.use_priceavg.errors}}
                </div>
              </div>
              <button type="submit" class="w-full  bg-emerald-500  focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-emerald-700 text-zinc-900 hover:underline ">สร้างปาร์ตี้</button>
            </form>
          </div>
      </div>
  </div>
</section>

{%else%}
    <div class="text-center text-2xl">
        <span>กรุณาเข้าสู่ะระบบ!</span>
    </div>
    
{%endif%}
</div>


<script>
     function togglePriceAvg() {
    let priceavg = document.getElementById("id_priceaverage");
    let pricelabels = document.getElementById("id_priceaverage").previousElementSibling;
    let use_priceavg = document.getElementById("id_use_priceavg");
    
    if (use_priceavg.checked) {
      priceavg.style.display = "none";
      pricelabels.style.display = "none";
    } else {
      priceavg.style.display = "block";
      pricelabels.style.display = "block";
    }
  }


  document.getElementById("id_use_priceavg").addEventListener("change", togglePriceAvg);
  togglePriceAvg();
</script>

{%endblock%}