{%extends 'Content/components/base.html' %}

{%block title%}Party-detail{%endblock%}


{%block content%}
{% if party.isApproved %}
<div style="margin-left: 25%" >
    <div class="border-2 w-64 rounded-md" >
        <h1>รายละเอียดปาร์ตี้</h1>
        
        <div>
            <label for="title">ชื่อ</label>
            <span id="title" name="title">{{party.title}}</span>
        </div>
        <div>
            <label for="title">หัวตี้</label>
            <span id="title" name="title">{{party.owner}}</span>
        </div>
        <div>
            <label for="price">ราคาเต็ม</label>
            <span id="price" name="title">{{party.price}} บาท</span>
        </div>
        
        <div class="border-2 w-60 rounded-md ml-2">
            {%if user in party.members.all %}
            <div >
                <span>{{party.bank}}</span>
                <span class="ml-16">{{party.bankaccount}}</span>
            </div>
            <div>
                <img src="{{party.qrcodeImage.url}}" alt="image" class="w-64 h-64 ">
            </div>
            <div >
                <span>ชำระภายวันที่</span>
                <span class="ml-16">date</span>
            </div>
           <div>
            
           </div>
            {%else%}
            <div>
                
            </div>
            {%endif%}
        </div>

        {%if user == party.owner%}
        <div>
            <h2>สมาชิกที่ขอเข้าร่วม</h2>
            <ul>
               
            {% for pending in party.pending_members.all %}
                
                <li>{{ pending.username }}</li>
                <form action="{% url 'accept_member' party.id user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Accept</button>
                </form>
                <form action="{% url 'reject_member' party.id user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Reject</button>
                </form>
            {% endfor %}
            </ul>
        </div>
        {%endif%}

        <div>
            {%if party.members.count%}
            <div>สมาชิก</div>
                {%for member in party.members.all %}
                <div>
                    <a href="#">{{member}}</a>
                </div>
            
                {%endfor%}
            {%endif%}
        </div>
    </div>
    
    
  







   
</div>
{%else%}
<div  class="text-center" >ไม่สามารถดูรายละเอียดได้เนื่องจากปาร์ตี้ยังไม่ได้รับการอนุมัติ</div>
{%endif%}


{%endblock%}