{%extends 'Content/components/base.html' %}

{%block title%}Party{%endblock%}


{%block content%}
<div class=" ml-20">

    <form  method="POST" action="{% url 'search_party' %}">
        {%csrf_token%}
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="ค้นหา"  name="searched" class="border-2 border-black rounded-md">
        <button type="submit">search</button>
    </form>
    

</div>
<div class="grid grid-cols-4 gap-4 mb-4">
    {% for party in partys %}
        {% if party.isApproved %}
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-zinc-300 mt-10">
            <img class="w-full" src="{{party.apps.image.url}}" alt="image">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">{{party.title}}</div>
              <p class="text-gray-700 text-base ">
                แอปพลิเคชั่น:{{party.apps.name}}
              </p>
              <p class="text-gray-700 text-base">
                จำนวน: {{party.quantity}} คน
              </p>
              <p class="text-gray-700 text-base">
                ราคาเต็ม:{{party.price}} บาท
              </p>
              <p class="text-gray-700 text-base">
                ราคาเฉลี่ย:
                {{party.priceavg}} บาท/คน
                
              </p>
              
              {{party.members.count}}/{{party.quantity}}
            </div>
            <div class="px-6 pt-4 pb-2">
              
            </div>





            {%if party.members.count >= party.quantity %}
            <div  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-300 rounded-lg hover:bg-bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500      dark:focus:ring-red-800">
               เต็ม
            </div>


            {%else%}
                {%if user.is_authenticated%}
                    {%if user.is_superuser%}

                    {%else%}

                            {%if user in party.members.all%}
                            <a href="{{ party.get_absolute_url }}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-emerald-300 rounded-lg hover:bg-bg-emerald-500 focus:ring-4 focus:outline-none focus:ring-emerald-300 dark:bg-emerald-500 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800">
                                คุณอยู่ที่นี้แล้ว

                            </a>
                            {%elif user in party.pending_members.all%}
                                <div  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-amber-300 rounded-lg hover:bg-bg-amber-500 focus:ring-4 focus:outline-none focus:ring-amber-300 dark:bg-amber-500 ">
                                    รอหัวตี้ตอบรับ
                                </div>
                            {%else%}
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-emerald-300 rounded-lg hover:bg-bg-emerald-500 focus:ring-4 focus:outline-none focus:ring-emerald-300 dark:bg-emerald-500 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800">
                                    <form method ='POST'  action="{% url 'joins' party.id %}" >
                                        {% csrf_token %}
                                    <input type="submit" value="ขอเข้าร่วม" >
                                    </form>
                                </a>
                            {%endif%}
                    {%endif%}
                       
                {%else%}
                    <a href="{%url 'login'%}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-emerald-300 rounded-lg hover:bg-bg-emerald-500 focus:ring-4 focus:outline-none focus:ring-emerald-300 dark:bg-emerald-500 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800 ">
                        กรุณาเข้าสู่ะระบบเพื่อเข้าร่วมปาร์ตี้

                    </a>
                {%endif%}


               
                


            {%endif%}
            
        </div>
        

        {% endif%}  
        
    {% endfor %}
</div>

{%endblock%}