{%extends 'Content/components/base.html' %}
{%block title%}{{party.title}}{%endblock%}

{%block content%}
<div style="margin-left: 100px; height:100%  "  class="  relative container mx-auto  ">
    {%if user in party.members.all %}

    <a href="{{ party.get_absolute_url }}" class="ml-28">back</a>
    <div class="grid grid-cols-4 gap-4">
        {%for img in evidence%}
        <div style="margin-left:25%" class="bg-zinc-700 w-80 h-30 rounded-md mt-20 ml-20 rounded-t-lg  rounded-b-lg" >

            <header class="bg-green-500 rounded-t-lg">
               
            </header>

            <div>
                <img src="{{img.evidenceimage.url}}" alt="image" class="w-80  h-60 rounded-t-lg " >
            </div>

            <footer class="bg-zinc-300 rounded-b-lg">
                <div>
                    <label for="uploader">เพิ่มโดย</label>
                    <span id="uploader">{{img.uploader}}</span>
                </div>

                <div>
                    <label for="uploader">วันที่</label>
                    <span id="uploader">{{img.uploaded_at}}</span>
                </div>
                
                
            </footer>
            
        </div>
        
        {%endfor%}
      </div>
      {% endif %}


</div>

{%endblock%}