{%extends 'Content/components/base.html' %}

{%block title%}UpdateParty{%endblock%}

{%block content%}
<div>
{%if  user == partys.owner  %}
<section class="bg-white">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
       
        <div class="w-full  rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 bg-zinc-300 ">
            <div href="#" class="text-center mt-10 mb-6 text-2xl font-semibold text-zinc-900 ">
            
                แก้ไขข้อมูลปาร์ตี้
            </div>
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                
                <form class="space-y-4 md:space-y-6" action="#" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{form.as_p}}
                    <button type="submit" class="w-full   focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-emerald-500 hover:bg-emerald-700 text-zinc-900 hover:underline ">อัปเดต</button>
                </form>
            </div>
        </div>
    </div>
  </section>

{%else%}
    <div class="text-center text-2xl">
        <span>คุณไม่มีสิทธ์เข้าถึงการแก้ไข</span>
    </div>
    
{%endif%}
</div>
<script>
    function togglePriceAvg() {
   let priceavg = document.getElementById("id_priceaverage");
   let pricelabels = document.getElementById("id_priceaverage").previousElementSibling;
   let use_priceavg = document.getElementById("id_use_priceavg");
   
   if (use_priceavg.checked) {
     priceavg.style.display = "none";
     priceavg.value="";
     pricelabels.style.display = "none";
   } else {
     priceavg.style.display = "block";
     pricelabels.style.display = "block";
   }
 }


 document.getElementById("id_use_priceavg").addEventListener("change", togglePriceAvg);
 togglePriceAvg();
</script>

{%endblock%}