{%extends 'Content/components/base.html' %}

{%block title%}Banklist{%endblock%}
{%block content%}
{%if user.is_superuser %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-zinc-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-emerald-300 dark:text-black">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ชื่อธนาคาร
                </th>
                <th scope="col" class="px-6 py-3">
                    ลบรายการ
                </th>
                <th scope="col" class="px-6 py-3">
                    แก้ไขรายการ
                </th>
                
            </tr>
        </thead>
        
        <tbody>
            {%for bank in banks%}

            <tr class="bg-white border-b dark:bg-zinc-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{bank.name}}
                </th>
                <td class="px-6 py-4">
                    <form method="POST" action="{% url 'delete_bank' bank.id %}">
                        {% csrf_token %}
                        <div class="hover:text-red-700">
                        <i class="fa-solid fa-trash "></i>
                        <input type="submit" value="ลบธนาคาร">
                        </div>
                    </form>
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'edit_bank' bank.id %}" class="hover:underline">แก้ไข</a>
                </td>
                
            </tr>
            
        </tbody>
        {%endfor%}
    </table>
</div>

        

    {%else%}
    <div>คุณไม่มีสิทธ์เข้าถึง</div>
    {%endif%}
{%endblock%}