<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"></link>
    <style>
      .chat-messages{
         height: 650px;
         overflow-y: auto;
      }
      .chat-messages::-webkit-scrollbar{
         display: none;
      } 
    </style>
    <title>{%block title%} {%endblock%}</title>
 </head>
{%if user.is_superuser %}
    <div>
        <div style="margin-left:25%">
            
            <table style="width:100%" class="border-2">
                
                <tr class="border-2">
                <th >ชื่อธนาคาร</th>
                
                </tr>
                <tbody class="border-2">
                    {%for bank in banks%}
                    <tr >
                        <td class="border-2">{{bank.name}}</td>
                        
                        <td class="border-2"> 
                            <form method="POST" action="{% url 'delete_bank' bank.id %}">
                                {% csrf_token %}
                                <i class="fa-solid fa-trash"></i>
                                <input type="submit" value="ลบธนาคาร">
                            </form>
                        </td>

                        <td class="border-2"> 
                            <a href="{% url 'edit_bank' bank.id %}" class="ml-28">แก้ไข</a>
                        </td>

            
                    </tr>
                    
                </tbody>
                
                
                {%endfor%}
            </table>
        
        </div>

    </div>
    {%else%}
    <div>คุณไม่มีสิทธ์เข้าถึง</div>
    {%endif%}