{%extends 'Content/components/base.html' %}


{%block title%}writenews{%endblock%}

{%block content%}

<div>
    <div style="margin-left:25%">
        {%if user.is_authenticated%}
                {%if user.is_superuser%}
                    <form action="" method="POST" enctype="multipart/form-data">
                        {%csrf_token%} 
                        {{form.as_p}}
                    <input type="submit">
                    </form>
                {%endif%}
        {%else%}
            <div class="text-center">
                <span>คุณไม่มีสิทธ์เข้าถึงหน้านี้</span>
            </div>
        {%endif%}
    </div>
</div>
{%endblock%}