{%extends 'Content/components/base.html' %}


{%block title%}writenews{%endblock%}

{%block content%}

<div>
    <div style="margin-left:25%">
        {%if user.is_authenticated%}
                {%if user.is_superuser%}
                <div class="border-2 bg-zinc-700 rounded">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {%csrf_token%} 
                        <div class="border-2">
                            {{form.title.label_tag}}
                            {{form.title}}
                            {{form.title.errors}}
                        </div>

                        <div class="border-2">
                            {{form.desciption.label_tag}}
                            {{form.desciption}}
                            {{form.desciption.errors}}
                        </div>

                        <div class="border-2">
                            {{form.image.label_tag}}
                            {{form.image}}
                            {{form.image.errors}}
                        </div>
                        
                        
                    <input type="submit">
                    </form>
                </div>
                {%endif%}
        {%else%}
            <div class="text-center">
                <span>คุณไม่มีสิทธ์เข้าถึงหน้านี้</span>
            </div>
        {%endif%}
    </div>
</div>
{%endblock%}